.Main .Nav {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 50px;
}

.BlMainog a {
    text-decoration: none;
    color: black;
}

.Main a:hover,
.Main a:active,
.Main a.active {
    background-color: darkgreen;
}

.Main .link {
    padding: 15px 40px;
    margin-left: 10px;
    color: #fff;
    background-color: green;
    border-radius: 5px;
}

.Main h1 {
    margin-bottom: 40px;
    margin-left: 10px;
}