.Request {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.Request:hover,
.Request:active {
    background-color: #C0DDF5;
}

.Price,
.Id,
.Date,
.Passengers {
    margin: 16px 0;
}